*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-blue: #e7f6ff;
  --color-green: #9dd458;
  --color-black: #232323;
  --color-rose: #fef0f0;

  --wrapper-width: 1080px;

  --animation-duration: 0.3s;
  --animation-effect: ease-in-out;

  --font-family: "Inter", sans-serif;
}

body {
  font-size: 14px;
  font-family: var(--font-family);
  color: var(--color-black);
  background-color: var(--color-blue);
}

::-webkit-scrollbar {
  width: 4px;
  background-color: rgb(223, 223, 223);
}

::-webkit-scrollbar-thumb {
  width: 4px;
  border-radius: 8px;
  background-color: var(--color-green);
}

button,
input {
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  color: var(--color-black);
}

.button {
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    transform 0.3s ease-in-out;

  &--green {
    background: var(--color-green);
    border-radius: 18px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    &:hover {
      background-color: #b0ee63;
    }
  }

  &--plus {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border: 1px solid #f2f2f2;
    border-radius: 8px;

    &:hover {
      background-color: rgb(223, 223, 223);
    }
  }

  &--remove {
    background: #ffffff;
    border: 1px solid #dbdbdb;
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 0px 10px;

    & > svg {
      background: #b5b5b5;
      transform: rotate(45deg);
    }

    &:hover {
      background-color: rgb(223, 223, 223);
    }
  }
}

ul,
ol {
  list-style: none;
}

.wrapper {
  max-width: var(--wrapper-width);
  margin: 85px auto;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
}

.header {
  border-bottom: 1px solid #eaeaea;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  &-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    &__image {
      margin-right: 15px;
    }
    &__title {
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      text-transform: uppercase;
    }
    &__subtitle {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: #9d9d9d;
    }
  }
  &-list {
    &-item {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
  &-cart {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #5c5c5c;
    &__icon {
      margin-right: 10px;
    }
  }
}

.d-flex {
  display: flex;
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.search {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0px 18px;

  &__icon {
    margin-right: 14px;
  }

  &__input {
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #c4c4c4;
    padding: 14px 0px;
    &:focus {
      border: none;
      outline: none;
    }
    &::placeholder {
      color: #c4c4c4;
    }
  }
}

.wishlist {
  &-button {
    width: 32px;
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background: #ffffff;
    border: 1px solid #f8f8f8;
    border-radius: 7px;
    cursor: pointer;

    &--liked {
      background-color: var(--color-rose);
      border: none;
    }
  }
}

.section {
  padding: 40px;
  &-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    &__title {
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background: #ffffff;
  border: 1px solid #f3f3f3;
  border-radius: 40px;
  transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.06);
    transform: translateY(-5px);
  }

  &-info {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 15px;
  }

  &__price {
    display: flex;
    flex-direction: column;

    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    text-transform: uppercase;
    color: #bdbdbd;
    span {
      margin-top: 2px;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      color: var(--color-black);
    }
  }
}

.col {
  flex-direction: column;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 100%;
  height: 100%;
}

.drawer {
  padding: 30px;
  position: absolute;
  width: 385px;
  top: 0;
  right: 0;
  height: 100vh;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
  }
  .cart {
    margin-top: 30px;
    flex: 1;
    overflow: auto;
    &-item {
      padding: 30px 20px;
      border: 2px solid #f3f3f3;
      border-radius: 20px;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      &__image {
        margin-right: 20px;
        object-fit: contain;
      }
      &__title {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        margin-bottom: 8px;
      }
      &__price {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
      }
      &__button {
        margin-left: 12px;
      }
    }
  }

  .total {
    &__button {
      margin-top: 24px;
      width: 100%;
      padding: 18px 0px;
      position: relative;

      &:hover {
        img {
          transform: translateX(5px);
        }
      }

      img {
        position: absolute;
        top: calc(calc(56px / 2) - 7px);
        right: 30px;
        transition: transform 0.15s ease-in-out;
      }
    }
    &-item {
      align-items: flex-end;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      &__title {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
      }

      &__price {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
      }

      .underline--dashed {
        flex: 1;
        height: 1px;
        border-bottom: 1px dashed #dfdfdf;
        position: relative;
        top: -4px;
        margin: 0px 8px;
      }
    }
  }
}
